.container{
    -fx-padding: 10px;
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #D5D8DC;
    -fx-spacing: 15px;
}

